<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Projet Gotham</title>

    <link rel="stylesheet" href="/static/style.css?v=0.3.7">
</head>
<body>

  <h1>BATMAN TRAINING</h1>
  <p>Bienvenue dans la Batcave</p>

  <div class="profiles">
    <button class="profile-btn" data-user="dan">dan</button>
    <button class="profile-btn" data-user="papy">papy</button>
  </div>

  <!-- MODALE -->
  <div id="modal-overlay" class="hidden">
    <div class="modal">
      <h2 id="modal-title">Profil</h2>

      <input
        type="password"
        placeholder="Mot de passe"
        id="password"
      />

      <div class="modal-actions">
        <button id="login-btn">Connexion</button>
        <button id="view-btn">Voir le profil</button>
      </div>

      <button id="close-btn" class="close">Fermer</button>
    </div>
  </div>

    <!-- ✅ ICI : VERSION DU SITE -->
  <div id="site-version">
    Gotham Training — v0.3.7
  </div>

  <!-- JS -->
  <script src="/static/app.js?v=0.3.7" defer></script>
</body>
</html>
